<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error - QuizVerse</title>
    <style></style>
  </head>
  <body>
    <div>
      <h1>Oops! Something went wrong</h1>
      <div>
        <p><%= message %></p>
      </div>
      <a href="/">Back to Home</a>
    </div>
  </body>
</html>
