<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
      <h1>Quiz Details</h1>
      <p>Quiz details will be displayed here.</p>
      <div>
        <a href="/quiz/browse">Back to Quizzes</a>
      </div>
    </div>
  </body>
</html>
